*{
	margin: 0;
	padding: 0;
}
header 
{
	height: 55px;
}

.container 
{
	width: 940px;
	margin: 0 auto;
}

.logo
{
	float: left;
	font-size: 36px;
	text-align: center;
	background-color: #ff8000;
	width: 135px;
	height: 55px;
	margin-right: 15px;
}

a{
	outline: 0;
	text-decoration: none;
}

ul{
	list-style-type: none;
}

.hmenu li a{
	float: left;
	padding: 17px;
	text-decoration: none;
	font-size: 16px;
	color: #000;
}

form{
	float: right;
	border: solid;
	border-radius: 15px;
	border-width: 1px;
	border-color: #888888;
	margin: 5px 0px;
}

.text {	
	border-width: 0px;
	width: 200px;
	height: 40px;
	float: left;
	outline: none;
	margin-left: 10px
}

.icon {

	width: 40px;
	height: 40px;
	float: right;
}

/***************************************************************************/

.banner
{
	width: auto;
	background: url("../images/banner.jpg");
	background-position: center top;
	background-repeat: no-repeat;
	background-color: #000000;
	height: 545px;
}

.inner
{
	position: relative;
	height: 545px;
}

h1
{
	position: absolute;
	font-size: 44px;
	color: #FFFFFF;
	bottom: 0;
	left: 0;
	padding-bottom: 45px;
	font-family: Arial;	
}

h4
{
	position: absolute;
	font-size: 22px;
	color: #FFFFFF;
	bottom: 0;
	left: 0;
	padding-bottom: 15px;
	font-weight: lighter;
}

/***************************************************************************/

h3
{
	font-size: 18px;
}

h5
{
	font-size: 11px;
}

.surf-container
{
	background-color: #ecab1f;
	padding: 20px 0px;
	margin-bottom: 60px;
}

.surf-container ul li {

	float: left;
	margin-right: 20px;	
	text-decoration: none;

}
.surf-container .nomargin{
	margin-right: 0px;
}

.surf-container ul li a{
	color: #222222;
	width: 220px;
    height: 60px;
    background: #FFFFFF;
	border-radius: 15px;
    display: block;
}

p{
	float: left;
	font-size: 22px;
	padding: 16px 15px;
}

.surf-img{
	float: right;	
	padding: 16px 10px;
}

/***************************************************************************/

h2
{
	color: #888888;
	font-size: 40px;
}

.happening h2{
	color: #888888;
	font-size: 40px;
}

.images-list li {
	float: left;
	margin-right: 20px;	
}
.images-list .nomargin{
	margin-right: 0px;
}

.back-image{
	background-color: #4466ff;
	color: white;
	padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
}

.images-list img{
	display: block;
}

.clear
{
	clear: both;
}

