body
{
  margin: 0;
  padding: 0;
}

.container {
  width: 940px;
  padding: auto;
  margin: auto;
  /*margin-right: 80px;
  margin-left: 80px;*/
  
}

h1, h2, h4{
  margin: 0 0;
}


.row {
  margin-left: 20px;
  margin-right: 20px;
}

.row-text {
  margin-left: 30px;
  margin-right: 30px;
  text-align: justify;
}

.banner {
    background-color: #BFBFBF;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  padding: 100px;
  margin-bottom: 50px;
}