header 
{
	height: 50px;
	background-color: #000000;
}

footer 
{
	height: 50px;
	background-color: #ececec;
	clear: left;
	 padding-left: 210px;
}

.container 
{
	width: 940px;
	margin: 0 auto;
	padding: 8px;
}

.logo 
{
	float: left;
	background-color: #ff8000;
	width: 140px;
	height: 35px;
}

ul
{
	margin: 0 auto;
	list-style-type: none;
}

.menu li
{

	float: left;	
	padding: .2em 2em;
	text-decoration: none;

}

.hmenu 
{

	font-size: 18px;
	color: #aaaaaa;		
}

.fmenu 
{

	font-size: 16px;
	color: #ff8000;		
}

.cmenu
{
	color: #888888;
}

a
{
	outline: 0;
	text-decoration: none;
}

a:hover 
{
    color: #444444;
}

.banner
{
	width: auto;
	height: 485px;
	background-color: #71c4ea;
	margin-bottom: 43px;
}

h1
{
	font-size: 36px;
	color: #444444;
	margin-bottom: 70px;
	text-align: center;
}

.circle
{ 
	float: left;
	width: 140px; 
	height: 140px; 
	background: #efefef; 
	border-radius: 50%;
	margin-bottom: 20px;
}

.text li
{
	width: 140px;
	font-size: 18px;	
	text-align: justify;
	float: left;
	margin-top: 20px;
	margin-left: 35px; 
	margin-right: 35px;
	margin-bottom: 110px;
}

.fpad
{

}

